.container {
    width:960px;
    margin-right:auto;
    margin-left:auto;
    }

#aboutMe {
width:960px;
margin-right: auto;
margin-left: auto;
    }

nav {
    float:right;
}

#stickyFooter {
    border-top: 8px solid #4aaaa5;
    }